.serie {
    position: relative;
}
.serie__image img {
    width: 100%;
    height: 116.63px;
}

.serie__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
}
.serie:hover .serie__overlay {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s;
}
.serie__overlay p:first-child {
    margin-top: 12%;
}
.serie__overlay p:last-child {
    margin-top: 12px;
}

.show__platforms {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.show__details {
    width: 100%;
    margin: 20px 0px;
}
.show__details__seasons {
    margin: 20px 0px;
}
.show__platforms__logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}